

<!--<p id="notice"><#%= notice %></p>-->
<%= render 'home/jumbotron' unless user_signed_in? %>
<div class="center">
    <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>
  <div id="pins" class="transitions-enabled">
  
      <% @pins.each do |pin| %>
     
    <div class="box">
       <div class="panel panel-default">
        <div class="panel-heading">
        <%= link_to image_tag(pin.image.url( :medium)), pin %><br/>
        </div>
      <div class="panel-body">
        <strong>Description: </strong><%= pin.description %><br/>
        <% if pin.user == current_user %>
            <strong>Pinned by: </strong><em>YOU</em><br/>
        <% else %>
            <strong>Pinned by: </strong><%= pin.user.name if pin.user %><br/>
        <% end %>
        <strong>Uploaded: </strong><em><%= time_ago_in_words(pin.created_at) %> ago</em>
        <div id="listpinfooter" class="panel-footer">
        <% if pin.user == current_user %>
        
        <%= link_to 'Edit', edit_pin_path(pin),class: 'btn btn-warning btn-xs' %>&nbsp;
        <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
        
        <% end %>
        </div>
         </div>
       </div>
      </div>
    <% end %>
  </div>
  <!--#% if user_signed_in? %>
  <#% javascript_include_tag :defaults %>
  <#%= link_to 'New Pin', new_pin_path, class: 'btn btn-success btn-lg' %>
  <#% end %-->
<div class="center">
    <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>