<!--<p id="notice"><#%= notice %></p>-->
<div class="panel panel-default">
   <div class="panel-heading center">
     <%= link_to image_tag(@pin.image.url( :original)), pins_path %>
   </div>
   <div class="panel-body center">
    <strong>Description: </strong><%= @pin.description %><br/>
     <% if @pin.user == current_user %>
            <strong>Pinned by: </strong><em>YOU</em>
        <% else %>
            <strong>Pinned by: </strong><%= @pin.user.name if @pin.user %>
        <% end %>
    <% if @pin.user == current_user %>
    <div class="panel-footer">
        <%= link_to 'Edit', edit_pin_path(@pin),class: 'btn btn-warning btn-md' %>&nbsp;
        <%= link_to 'Destroy', @pin, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-md' %>
    </div>
    <% end %>
    </div>
</div>