<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
  <div class="panel-heading"><h1>Show Pin</h1></div>
  <div class="panel-body">
<p>
 
   <%= link_to image_tag(@pin.image.url( :original)), pins_path %><br/>
    <strong>Description: </strong><%= @pin.description %><br/>
    <strong>Upload by: </strong><%= @pin.user.name if @pin.user %>
</p>
<% if @pin.user == current_user %>
<%= link_to 'Edit', edit_pin_path(@pin),class: 'btn btn-warning btn-xs' %>&nbsp;
<% end %>

</div>